{% trans_default_domain 'FOSUserBundle' %}
{# form_theme form 'bootstrap_3_layout.html.twig' #}
{# mon form cree du dossier views/ForTemplate#}
{# form_theme form ':FormTemplate:bootstrap.html.twig' #}


<div class="row">
    <div class="col-lg-12">
        <h2>Connexion</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="col-lg-4">
                    <h4>Pas encore inscrit ?</h4>
                    <em>
                        nous vous invitons à vous inscrire<br />
                        afin de passer votre commande et de manger équilibré.
                    </em>
                </div>

                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Inscription</h4>
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}                     
                        {{ form_widget(form) }}        
                    <div>
                        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>


